

body {
	
	height: 100%;
	/* font-family: 'Seaweed Script', cursive; */
		font-family: 'Roboto Condensed', sans-serif;

	
}

html {
	height: 100%;
}

/*
-----------------------------
|   |Content Box
-----------------------------

*/
.content-box {
	padding: 60px 0 60px 0;
}

.content-title h3 {
	font-size: 30px;
	font-weight: 700;
	text-align: center;
	margin: 0 0 30px 0;
}

.content-title-underline {
	width: 30px;
	height: 4px;
	background-color: #34c6d3;
	margin: 0 auto 30px auto;
}

#home {
	height: 100%;
}



.hero-cover {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 50%
}
.image-cover {
    width: 100%;
    height: 100%;
    background-size: cover;
	padding: 60px 0 60px 0;
}

.cover-red {
	display: inline-block;
    position: absolute;
	z-index: 10;
}
.red-text{
	color: #FFCA00;
	z-index: 100;
	position: relative;
	float: right;
    margin-right: -350px;
    margin-top: 100px;
}
.red-text h1{
	font-size: 100px;

}
.user-box1 {
float: right;
position: relative;
z-index: 100;
width: 300px;
height: 300px;
top: 250px;
padding-left: 70px;
}


.cover-blue {
    position: absolute;
	z-index: 100;
}

.vector {
width: 150px;
position: relative;
z-index: 150;
margin: 127px 0 0 -38px;
}

.triangle{
	width: 0;
	height: 0;
	border-width: 40px 0 0 40px;
	border-color: transparent transparent transparent #FF0000;
	border-style: solid;
	
}

.triangle-box {
    width: 85px;
}
.ang1{
display: inline-block;
float: left;
}
.ang2{
display: inline-block;
vertical-align: top;
float: right;
}
.ang3{
display: inline-block;
float: left;
}
.ang4{
display: inline-block;
vertical-align: top;
float: right;
border-color: transparent transparent transparent white;

}
.circle-box1{
	z-index: 100;
	float: right;
    padding-left: 100px;
    position: relative;
    padding-right: 155px;
    margin-top: -50px;
}
.circle-box2{
	z-index: 150;
    position: absolute;
	padding: 115px 0 0 250px;
}
.circle1{	
  border: 20px solid white;
  border-bottom-color: #821D1D;
  border-right-color: white;
  transform: rotate(45deg);
  border-radius: 50%;
  background-color: transparent;
  width: 100px;
  height: 100px;

}
.circle2{	
  border: 20px solid white;
  border-top-color: transparent;
  border-bottom-color: white;
  border-left-color: transparent;
  border-right-color: white;
  transform: rotate(65deg);
  border-radius: 50%;
  background-color: transparent;
  width: 100px;
  height: 100px;
}

.blue-text{
   
	width: 200px;
    height: 100px;
    position: relative;
    z-index: 150;
	transform: rotate(-20deg);
	overflow: hidden;
	padding: 10px;
	bottom: 70px;
	left: 48px;
}
.blue-text h2{
	color: #FF0000;
	font-size: 40px;
	line-height: 30px;
	 font-family: 'Seaweed Script', cursive;
	
}





.contact-img{
	top: 120px;
	bottom: 0;
	left: 14px;
	
position: relative;
width: 311px;
box-sizing: border-box;
border: 1.5px solid #1DA2FB;
box-sizing: border-box;
transform: rotate(0.13deg);
}
.contact-img2{
	top: 40px;
	bottom: 0;
	left: 14px;
	
position: relative;
width: 311px;
box-sizing: border-box;

box-sizing: border-box;
transform: rotate(0.13deg);
}
.contact-info{
	display: block;
	overflow: hidden;
	height: 370px;
}
.contact-title{
	padding: 25px;
	position: absolute;
}

.contact-title h1{
	font-size: 6.5rem;
	line-height: 6rem;
	position: relative;
	z-index: 100;

}
.contact-title span{
	color: #FF0000;
}

.contact-des {
padding: 5px;
width: 100%;
height: 100%;
align-items: center;
}

.contact-des p{
	font-size: 30px;
	display: block;

}


.user-box2 {
float: right;
width: 180px;
height: 180px;
}

.user-box3 {
width: 300px;
height: 200px;
float: left;
margin-top: 50%;
}

.user-box2 .wrapper{
align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 180px;
  height: 180px
}


.wrapper {
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 300px;
  height: 300px;
  
}

.formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  width: 90%;
  position: relative;
  padding: 0px 0px 25px 0px;
  -webkit-box-shadow: 0 30px 60px  rgba(0,0,0,0.1);
  box-shadow: 0 30px 60px  rgba(0,0,0,0.1);
  text-align: center;
}




/* FORM TYPOGRAPHY*/

input[type=button], input[type=submit], input[type=reset]  {
  background-color: #FFECEC;
  border: none;
  color: red;
  padding: 12px;
  width: 80%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 0px 10px 0px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
  background-color: #39ace7;
}

input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

input[type=text] {
  background-color: #f6f6f6;
  border: none;
  color: #F2F2F2;
  padding: 18px 12px;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 9px;
  width: 80%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

input[type=text]:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

input[type=text]:placeholder {
  color: #cccccc;
}
.fadeIn {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fadeIn.second {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fadeIn.third {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}


/*
-----------------------------
|   | Navigation
-----------------------------
*/
.navbar {
	padding: 20px 0;
}

.vesco-top-nav {
	background-color: rgba(0, 0, 0.7);
	padding: 7px 0;
}

.navbar-nav > li > a {
	color: #fff;
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
}

.nav-link {
	color: #fff !important;
}

.nav-link:hover,
.nav-link:focus {
	background: none !important;
	color: #34c6d3 !important;
}

.nav-item {
	background-color: rgba(0, 0, 0.7);
}

.navbar-toggler {
	background-color: rgba(0, 0, 0, 0.7);
	border: 1px solid #fff;
	color: #fff;
	width: 40px;
	height: 34px;
	margin-right: 3px;
	border-radius: 0;
}

.navbar-toggler .line {
	width: 100%;
	float: left;
	height: 2px;
	background-color: #fff;
	margin-bottom: 5px;
}

.navbar-collapse {
	max-height: 0 !important;
	text-align: center;
	padding-right: 10px;
}

.nav-item > a.active {
	color: #34c6d3 !important;
}




/*
-----------------------------
        Default values

        Font-Family         : Roboto Condensed
        
        Greenish Blue       :#34c6d3; (btn, icon, Links, Lines and Background)
        Steel Gray          :#41464b; (headings)
        Blue Bayoux         :#64707b; (para)
        White               :#fff;    (for balck-bg text)
        Black               :#000;    
-----------------------------
*/